form(action='/', method='get')
  label(for='infinitive') infinitive
  input(name='infinitive', value=infinitive, autofocus)
  input(value='conjugate', type='submit')
div#definition
  - each definition in definitions
    p= definition
table
  thead
    tr
      th tense
      th conjugation
      th pronunciation
      th romanization
  tbody
  - each conjugation in conjugations
    tr
      td(class='conjugation-name')= conjugation.conjugation_name
      td(class='conjugation-conjugated')= conjugation.conjugated
      td(class='conjugation-pronunciation')= (conjugation.pronunciation == conjugation.conjugated ? '' : '[' + conjugation.pronunciation + ']')
      td(class='conjugation-romanized')= conjugation.romanized
    tr(rowspan='4', style='display: none;')
      td(class='conjugation-explanation')
        p(class='conjugation-romanized')= conjugation.romanized
        - each reason in conjugation.reasons
          p(class='conjugation-reason')= reason
