dl.dl-horizontal
  dt verb
  dd= search
  dt definition
  - each definition in definitions
    dd= definition
  dt type
  dd= type
- if (bothRegularAndIrregular)
      span.label.label-danger This verb has both regular and irregular forms. The definition you see might not match the form you are viewing. You are currently viewing the #{form} form. 
        a(href=formToggleLink) View the #{otherForm} form.
  - if (valid_verbs.length == 0 && definitions.length == 0)
    dd verb was not found in the verb database
div.table-responsive
  table.table.table-striped.table-condensed(style='width: auto; margin-left: auto; margin-right: auto;')
    thead
      tr
        th.conjugation-name tense/politeness level
        th conjugation
    tbody
    - each conjugation in conjugations
      tr.conjugation-row(onclick='$(this).next().next().toggle()')
        td.conjugation-name= conjugation.conjugation_name
        td
          | #{conjugation.conjugated}
      tr(style='display:none')
      tr(style='display:none')
        td.explanation(colspan='2')
          dl.dl-horizontal
            dt IPA
            dd= conjugation.ipa
            dt romanization
            dd= conjugation.romanized
            - if (conjugation.pronunciation != conjugation.conjugated)
               dt pronunciation
               dd [ #{conjugation.pronunciation} ]
          ol
            - each reason in conjugation.reasons
              li= reason
