dl.dl-horizontal
  dt= search
  - each definition in definitions
    dd= definition
  - if (valid_verbs.length == 0 && definitions.length == 0)
    dd
      | Verb was not found in the verb database
div.table-responsive
  table.table.table-striped.table-condensed(style='width: auto; margin-left: auto; margin-right: auto;')
    thead
      tr
        th.conjugation-name level
        th conjugation [pronunciation]
    tbody
    - each conjugation in conjugations
      tr.conjugation-row(onclick='$(this).next().next().toggle()')
        td.conjugation-name= conjugation.conjugation_name
        td
          | #{conjugation.conjugated}
          | #{(conjugation.pronunciation == conjugation.conjugated ? '' : '[' + conjugation.pronunciation + '] ')}
      tr(style='display:none')
      tr(style='display:none')
        td.explanation(colspan='2')
          dl.dl-horizontal
            dt romanization
            dd= conjugation.romanized
          ol
            - each reason in conjugation.reasons
              li= reason
