- if (typeof(stemSearch) === 'undefined') stemSearch = null
- if (typeof(verbSearch) === 'undefined') verbSearch = null
!!! 5
html(lang="en")
  head
    title= 'koreanverb.app - How do you conjugate ' + search + '?'
    meta(name='keywords', content='Korean,#{search},verb,dongsa,stemmer,conjugation,conjugator')
    meta(name='description', content='How to conjugate the Korean verb #{search}')
    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-109911835-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109911835-2');
    script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-2323396850941501", enable_page_level_ads: true});
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', type='text/css', rel='stylesheet')
    link(href='/css/bootstrap-theme.min.css', type='text/css', rel='stylesheet')
    link(href='/css/dongsa.css', type='text/css', rel='stylesheet')
    script(src='/scripts/jquery.min.js')
    meta name="google-site-verification", content="y2Kk3KZ12uLXPtFJ94-8Ko1e_lzI3z4qYbXP8k29sKI")
  body
    div.container
      nav.navbar.navbar-default
        div.navbar-header
          a.navbar-brand(href='/')
            동사 Dongsa Korean Verb Conjugator</a>
          form.navbar-form.navbar-right(role='search', action="/stem", method='get')
            div.form-group
              input.form-control(autofocus='autofocus', name='search', value=stemSearch, placeholder='Conjugated Korean verb')
            button.btn.btn-primary(type='submit')
              | Stem / Reverse
          form.navbar-form.navbar-right(role='search', action="/", method='get')
            div.form-group
              input.form-control(autofocus='autofocus', name='search', value=verbSearch, placeholder='English or Korean verb')
            button.btn.btn-primary(type='submit')
              | Search
      article
        != body
      div#footer
        div.text-center
          a(href='https://market.android.com/details?id=us.bravender.android.dongsa&feature=search_result')
            img(src='/images/android_badge.png')
          p
            a(href="http://github.com/dbravender/korean_conjugation/tree/master") Korean verb conjugation algorithm &copy; 2008 &ndash; 2018 Dan Bravender
          != partial('definitions-copyright.jade')
